<div class="banner">
  <h1>Create your own cocktail recipe</h1>

  <!-- Typed.js -->
  <!-- <h1>
    <span id="banner-typed-text"></span>
  </h1> -->

  <%= link_to "Add Cocktail", new_cocktail_path, class:"button" %>
</div>

<div class="container mt-5">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <!-- <div class="col-12 col-md-6 col-lg-3"> -->
        <% if cocktail.photo.present? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
           url('<%= cl_image_path cocktail.photo, height: 200, width: 300, crop: :fill %>');">
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
            <div class="card-description">
              <h2><%= cocktail.name.capitalize %></h2>

            </div>
          </div>
        <% else %>
          <!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1596097092650-730ba9475ad5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'cocktail.jpg', height: 200, width: 300, crop: :fill %>');">
            <div class="card-description">
              <h2><%= cocktail.name.capitalize %></h2>
            </div>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
          </div>
        <% end %>
      <!-- </div> -->
    <% end %>
  </div>
</div>
