<div class="banner-show">
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, class: "sh-photo" %>
  <% else %>
    <div class="sh-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'cocktail.jpg', height: 200, width: 300, crop: :fill %>');">
  <% end %>
  <div class="title"><%= @cocktail.name.upcase %></div>
</div>

<!-- <div class="show-content"> -->

  <!-- INGREDIENT -->
  <div class="ingredient-box">
  <p class="subtitle">Ingredients</p>
  <% if @cocktail.doses.empty? %>
    <p>What's the ingredients for <strong><%= @cocktail.name.upcase %></strong></p>
  <% else %>
    <% @cocktail.doses.each do |dose| %>
      <div>
        <%= dose.ingredient.name %>  -  <%= dose.description %>
        <%= link_to "âœ–ï¸", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    <% end %>
  <% end %>
  <div class="mt-5">
    <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
  </div>
</div>

<!-- REVIEW -->
<div class="ingredient-box">
  <p class="subtitle">Reviews</p>
  <% if @cocktail.reviews.empty? %>
    <p>Be the first to let a review</p>
  <% else %>
    <% @cocktail.reviews.each do |review| %>
          <%= review.content %> -
          <% counter = 0 %>
          <% 5.times do %>
            <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
            <% counter += 1 %>
          <% end %>
         - <%= link_to "ðŸ—‘", review_path(review), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
  <br>
  <br>
  <%= render "reviews/new", cocktail: @cocktail, review: @review %>
</div>

<br>

<!-- </div> -->


<div class="ingredient-box">
  <div class="remove">
    <%= link_to "BACK", cocktails_path, class: "dose-btn" %>
    <!-- <br> -->
    <%#= link_to "EDIT COCKTAIL", edit_cocktail_path(@cocktail), class: "remove", method: :delete, data: { confirm: "Are you sure?" } %>
    <!-- <br> -->
    <%#= link_to "REMOVE COCKTAIL", cocktail_path(@cocktail), class: "remove", method: :delete, data: { confirm: "Are you sure?" } %>
    <!-- <br> -->
  </div>
</div>


