<div class="banner-show">
  <%= cl_image_tag @cocktail.photo, class: "sh-photo" %>
  <div class="title"><%= @cocktail.name.upcase %></div>
  <%= link_to "ðŸ”™", cocktails_path, class: "home-btn" %>
</div>

<div class="ingredient-box">
  <p class="subtitle">Ingredients</p>
  <% @cocktail.doses.each do |dose| %>
    <div>
      <%= dose.ingredient.name %>  -  <%= dose.description %>
      <%= link_to "âœ–ï¸", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  <% end %>
  <div class="mt-5">
   <%= render 'doses/form' %>
  </div>
  <div class="remove">
    <%= link_to "remove cocktail", cocktail_path(@cocktail), class: "remove", method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>

